.App {
  text-align: center;
}

.Btn-date {
  margin: 10px;
  padding: 0.5rem 1rem;
  background: rgba(114, 39, 83);
  color: white;
  border-radius: 4px;
  border: none;
}

.Btn-date:hover {
  background: rgba(165, 31 ,38, 1);
}

.Btn-complete {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  background: rgba(1,111,210,1);
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
}

.Btn-complete:hover {
  background: #3bc9db;
}
